<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
>
	<php>
		<const name="APPLICATION_ENV" value="testing" />
		<ini name="error_reporting" value="E_ALL"/>
	</php>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <directory>./tests</directory>
            <directory>./vendor</directory>
        </exclude>
    </source>
	<testsuites>
		<testsuite name="All">
			<directory>tests</directory>
		</testsuite>
	</testsuites>
</phpunit>